html{
    min-height: 100vh;
    background-color: #04334E;
}

.formulario{
    background-color: #B0E0E6;
    border-style: outset;
    margin-left: 180px;
    margin-right: 180px;
    border-color: #08F175;
}

.texto{
    color:silver;
    padding-left: 10px;
    margin: 0;
}

.division{
    background-color: white;
    border-radius: 3px;
    border-style:inherit;
    margin-left: 30px;
    margin-right: 30px;
    
}

input{
    background-color: transparent;
    border-color: transparent;
    outline: none;
    margin-left: 5px;
    width: 950px;
    height: 30px;
}

select{
    background-color: transparent;
    border-color: transparent;
    outline: none;
    width: 950px;
    height: 30px;
    margin-left: 5px;
}

img{
    height: 360px;
    width: 300px;
    margin-left: 380px;
    margin-top: 15px;
}

.texto1{
    text-align: center;
    font-family:'Franklin Gothic Medium'
    
}

button{
    margin-left: 430px;
}

.copyright{
    font-family: Candara;
    text-align: center;
    color: #08F175;
}