html{
    min-height: 100vh;
    background-color: #04334E;
}

#cards{
    margin: 1rem;
    display: inline-block;
    margin: 1.5rem;
    background: white;
    border-right: solid;
    border-style: groove;
}

.texto1{
    font-family:'Franklin Gothic Medium';
    text-align: center;
    color: #08F175;
    font-size: 50px;
    font-style:inherit
}

img{
    height: 130px;
    width: 130px;
}